
<%-include("../layout/admin/header")-%>

    <main>
        <header class="main-header style-2 navbar">
            <div class="header-center">
                <a href="/admin/adminHome">
                    <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                </a>
            </div>
            <div class="col-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4 text-center font-weight-bolder">Sign in</h4>
                    <form action="" method="post">

                        <div class="d-flex justify-content-center message">
                            <% 
                            if(typeof message !== 'undefined')
                            {
                            %> 
                            <p><%= message %></p>
                            <%
                            }
                            %>
                        </div>
                        <br>
                        <div class="mb-3">
                            <input class="form-control" placeholder="Username or email" type="text" name="email" />
                        </div>
                        <br>
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" type="password" name="password"/>
                        </div>
                        <br>
                        <div class="mb-4 ">
                            <button type="submit" class="btn btn-secondary w-100 justify-content-center ">Login</button>
                        </div>
                        <br><br>
                    </form>

                </div>
            </div>
        </section>

    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>



    <%-include("../layout/admin/footer")-%>
