
<%-include("../layout/user/header")-%>

                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                </div><!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu top-link-menu ">
                        <li>
                            <ul>
                                <li><a class="font-weight-bolder fs-5" href="userLogin"><i class="icon-user"></i>Login</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu --> 
                </div>
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <main class="main">
        <div class="intro-slider-container">
            <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl"
                data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                <div class="intro-slide"
                    style="background-image: url(user/assets/images/demos/demo-16/slider/slide-1.jpg);">
                    <div class="container intro-content text-center">
                        <h3 class="intro-subtitle">Want to know what's hot?</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title text-white">For Spring In The City</h1><!-- End .intro-title -->

                        <a href="userLogin" class="btn btn-outline-white scroll-to">
                            <span>Login to Start purchasing</span>
                            <i class="icon-long-arrow-up"></i>
                        </a>
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->
            </div><!-- End .intro-slider owl-carousel owl-simple -->

            <span class="slider-loader text-white"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->

        <div class="container" id="scroll-to-content">
            <div class="pt-7"></div><!-- End .pt-6 -->

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-truck"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                            <p>Free shipping for orders over $50</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rotate-left"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                            <p>Free 100% money back guarantee</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="la la-unlock"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                            <p>100% secure payment</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="icon-box text-center">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-headphones"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                            <p>Alway online feedback 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-3 col-sm-6 -->
            </div><!-- End .row -->

            <hr class="mt-2 mb-6">

            <div class="products-display">
                <div class="heading text-center">
                    <h4 class="subtitle text-primary">Womens Clothing</h4><!-- End .subtitle -->
                    <h2 class="title">Refresh Your Wardrobe</h2><!-- End .title -->
                    <p class="title-desc">Discover this season’s latest trends with the newest additions to <br>our
                        women’s clothing collection.</p><!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner banner-main banner-overlay">
                            <a href="#">
                                <img src="user/assets/images/demos/demo-16/banners/banner-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content left">
                                <div class="banner-title"><a href="#">Dresses for all occasions.</a></div>
                                <!-- End .banner-title -->

                                <p>Nail your on and off duty style with our new season collection of women’s
                                    dresses.</p>
                                <a href="#" class="banner-link">Discover Now <i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-main -->
                        </div><!-- End .banner banner-overlay -->
                    </div><!-- End .col-lg-6 -->

                    <div class="col-sm-4 col-lg-3 order-lg-first">
                        <div class="display-products-col">
                            <div class="product product-4 mb-7">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="user/assets/images/demos/demo-16/products/product-1.jpg"
                                            alt="Product image" class="product-image">
                                        <img src="user/assets/images/demos/demo-16/products/product-1-2.jpg"
                                            alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                to wishlist</span></a>
                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                            title="Quick view"><span>Quick view</span></a>
                                        
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="#">Black ruched side slip
                                            dress</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $76.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .display-products-col -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-8 col-lg-3">
                        <div class="display-products-col">
                            <div class="row">
                                <div class="col-6 col-lg-12">
                                    <div class="product product-4 mb-7">
                                        <figure class="product-media">
                                            <a href="#">
                                                <img src="user/assets/images/demos/demo-16/products/product-2.jpg"
                                                    alt="Product image" class="product-image">
                                                <img src="user/assets/images/demos/demo-16/products/product-2-2.jpg"
                                                    alt="Product image" class="product-image-hover">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#"
                                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                        to wishlist</span></a>
                                                <a href="popup/quickView.html"
                                                    class="btn-product-icon btn-quickview"
                                                    title="Quick view"><span>Quick view</span></a>
                                                
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to
                                                        cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a href="#">Dark brown belted shirt
                                                    dress</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $100.00
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-12 -->

                                <div class="col-6 col-lg-12">
                                    <div class="product product-4 mb-7">
                                        <figure class="product-media">
                                            <a href="#">
                                                <img src="user/assets/images/demos/demo-16/products/product-3.jpg"
                                                    alt="Product image" class="product-image">
                                                <img src="user/assets/images/demos/demo-16/products/product-3-2.jpg"
                                                    alt="Product image" class="product-image-hover">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#"
                                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                        to wishlist</span></a>
                                                <a href="popup/quickView.html"
                                                    class="btn-product-icon btn-quickview"
                                                    title="Quick view"><span>Quick view</span></a>
                                                
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to
                                                        cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a href="#">Blue belted midi denim
                                                    dress</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $110.00
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-12 -->
                            </div><!-- End .row -->
                        </div><!-- End .display-products-col -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner banner-main banner-main-reverse banner-overlay">
                            <a href="#">
                                <img src="user/assets/images/demos/demo-16/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content right">
                                <div class="banner-title"><a href="#">Coats & Jackets for effortless everyday
                                        looks.</a></div><!-- End .banner-title -->

                                <p>Whichever style you choose from our new season collection of women’s coats and
                                    jackets, cosy chic vibes are guaranteed.</p>
                                <a href="#" class="banner-link">Discover Now <i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-main -->
                        </div><!-- End .banner banner-overlay -->
                    </div><!-- End .col-lg-6 -->

                    <div class="col-sm-8 col-lg-3 order-lg-first">
                        <div class="display-products-col">
                            <div class="row">
                                <div class="col-6 col-lg-12">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="#">
                                                <img src="user/assets/images/demos/demo-16/products/product-4.jpg"
                                                    alt="Product image" class="product-image">
                                                <img src="user/assets/images/demos/demo-16/products/product-4-2.jpg"
                                                    alt="Product image" class="product-image-hover">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#"
                                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                        to wishlist</span></a>
                                                <a href="popup/quickView.html"
                                                    class="btn-product-icon btn-quickview"
                                                    title="Quick view"><span>Quick view</span></a>
                                                
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to
                                                        cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a href="#">Dark yellow cropped
                                                    denim jacket</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $96.00
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-12 -->

                                <div class="col-6 col-lg-12">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="#">
                                                <img src="user/assets/images/demos/demo-16/products/product-5.jpg"
                                                    alt="Product image" class="product-image">
                                                <img src="user/assets/images/demos/demo-16/products/product-5-2.jpg"
                                                    alt="Product image" class="product-image-hover">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#"
                                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                        to wishlist</span></a>
                                                <a href="popup/quickView.html"
                                                    class="btn-product-icon btn-quickview"
                                                    title="Quick view"><span>Quick view</span></a>
                                               
                                            </div><!-- End .product-action -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to
                                                        cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a href="#">Light brown faux suede
                                                    biker jacket</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $358.00
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-12 -->
                            </div><!-- End .row -->
                        </div><!-- End .display-products-col -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-4 col-lg-3">
                        <div class="display-products-col">
                            <div class="product product-4">
                                <figure class="product-media">
                                    <a href="#">
                                        <img src="user/assets/images/demos/demo-16/products/product-6.jpg"
                                            alt="Product image" class="product-image">
                                        <img src="user/assets/images/demos/demo-16/products/product-6-2.jpg"
                                            alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                to wishlist</span></a>
                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                            title="Quick view"><span>Quick view</span></a>
                                        
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">Light brown check suedette
                                            <br>trench coat</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $170.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .display-products-col -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .products-display -->
        </div><!-- End .container -->               
        
    </main><!-- End .main -->



<%-include("../layout/user/footer")-%>