.coupon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#coupon-card {
  width: calc(33.33% - 20px); 
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background: rgb(253, 196, 89);
  border: none;
  color: #fff;
  height: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#h1 {
  font-size: 35px;
  margin-bottom: 0px;
}

.span, .small-code {
  font-size: 15px;
}

.small-code {
  font-size: 12px;
}

.coupon-image1, .coupon-image2 {
  position: absolute;
  opacity: .1;

}

.coupon-des{
  font-size: small;
}

.coupon-image1 {
  left: 0;
  top: 0;
}

.coupon-image2 {
  right: 0;
  bottom: 0;
}

.coupon-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coupon-code-container .copy-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.coupon-code-container .copy-button:hover {
  background-color: #0056b3;
}

.coupon-code-container .copy-button:focus {
  outline: none;
}
